# Editors
.vscode/
.idea/
.envs/
.tmp
.env/


##JS
node_modules/

## Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Scrapy stuff:
.scrapy

# Jupyter Notebook
.ipynb_checkpoints
05_Images/cats-vs-dogs/models/
05_Images/cats-vs-dogs/testing/
05_Images/cats-vs-dogs/training
/**/*.weights
*.mp4